@import "../../../styles/Variable.scss";

.main-banner-sec {
    &.callfromagent-sec {
        .form-step-contect {
            max-width: 813px;
            width: 100%;
            margin: 0 auto;

            .greaticon {
                width: 100%;
                max-width: 181px;
                height: 181px;

                @media (max-width: $screen-xs-max) {
                    max-width: 120px;
                    height: 120px;
                }
            }

            .h2 {
                margin-bottom: 0;
                margin-top: 24px;
            }
        }
    }
}