@import "../../styles/Variable.scss";

.main-banner-sec {
    height:100vh;
    position: relative;
    .banner-bg {
        object-fit: cover;
        height: 100vh;
        position: absolute;
        z-index: -1;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
       
    }
    .banner-overlay::before {
        opacity: 0.74;
        background: #FFF;
        content: "";
        height: 100vh;
        // position: absolute;
        width: 100%;
        z-index: 99;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
}