@import "../../../styles/Variable.scss";

.main-banner-sec {
    &.propertythankyou-sec {
        .form-step-contect {
            max-width: 1430px;
            width: 100%;
            margin: 0 auto;
        }
    }
}