@import 'Variable.scss';

// google fonts
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,700&family=Oswald:wght@300;400;500;600;700&display=swap');

body{
  color: $Font_Primary;
  font-family: $font_family_jost;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  transition: all 0.4s;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
}

ul, li {
  margin: 0;
  padding: 0;
}

header, span, strong, nav, p, footer {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  margin: 0 auto;
  display: block;
  clear: both;
  max-width: 1784px;
  padding: 0 30px;
  @media screen and (max-width:767px) {
      padding:0px 15px;
  } 
}

.h1{
  @include heading-1()
}
.h2 {
  @include heading-2()
}
.form-control {
 @include form_control
}

.theme_btn{
  @include theme_btn();
}

.custom-select {
  @include custom-select;
}
.custom-checkbox {
  @include custom-checkbox;
}


.volume-btn {
  @include volume-btn;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

