.faq-container {
  .faq-width{
    max-width: 1000px;
  }
 
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    padding: 8rem 0px;
  }
  
  .faq-item {
    display: flex;
    // margin-bottom: 20px;
  
    .faq-number {
      font-weight: bold;
      font-size: 1.2em;
      margin-right: 10px;
      position: relative;
      top: 7px;
    }
  
    .faq-content {
      flex: 1;
  
      .faq-question {
        font-weight: bold;
        margin-top: 10px;
      }
  
      .faq-answer {
        margin-bottom: 20px;
      }
    }
  }
  