.terms-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 8rem 0px;
  
    h1 {
      font-size: 24px;
      margin-bottom: 20px;
    }
  
    .section {
      margin-bottom: 30px;
  
      h2 {
        font-size: 20px;
        margin-bottom: 10px;
      }
  
      p {
        font-size: 16px;
      }
    }
  }
  