@import "../../styles/Variable.scss";
@mixin form-component-style {
    border-radius: 10px;
    padding: 0.5em;
    font-size: 1em;
}
.header-top {
    background-image: linear-gradient(90deg, $Btn_thame1, $Btn_thame2);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
    font-size: 20px;
    color: $White;
    text-align: center;
    font-weight: 600;
    margin-bottom: 20px;
    .closeicon {
        position: absolute;
        right: 4px;
        background: #ffffff;
        border-radius: 50%;
        top: 11px;
        display: flex;
        svg {
            display: flex;
            cursor: pointer;
        }
    }
}
.chat-container {
    width: 100%;
    max-width: 371px;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 999999;
    background: $White;
    padding-bottom: 16px;
    display: flex;
    flex-direction: column;
    @media screen and (max-width: $screen-xs-max) {
        right: 0px;
    }
    .form-container {
        display: flex;
        justify-content: space-between;
        padding-right: 16px;
        padding-left: 16px;
        input {
            width: 92%;
            border-style: none;
            border: 0.5px solid #393e46;
            @include form-component-style;

            &:focus {
                outline: none;
            }
        }

        button {
            background-image: linear-gradient(90deg, $Btn_thame1, $Btn_thame2, $Btn_thame2, $Btn_thame1);
            border-color: $Btn_thame1;
            color: $White;
            transition: all .4s ease-in-out;
            background-size: 300% 100%;
            border-style: none;
            @include form-component-style;
            width: 35px;
            border-radius: 5px;
            margin-left: 9px;
            &:hover {
                background-position: 100% 0;
                cursor: pointer;
            }
            img {
                filter: invert(1);
                display: block;
            }
        }
    }
}

