@import "../../../styles/Variable.scss";
.main-banner-sec {
    &.inquiryoption-sec {
        .form-step-contect {
           max-width: 1330px;
           width: 100%;
           margin: 0 auto;
        }
    }
    .btn_text {
        font-size: 14px; /* Adjust font size as needed */
        color: $Black; /* or your desired color */
        text-align: center;
        margin-top: 10px; /* Adjust margin as needed */
        position: absolute;
        font-weight: normal;
        left: 0;
        text-transform: none;
        right: 0;
        bottom: -35px;
      }
}